# Set the API key for the service you are using
OPENAI_BASE_URL = "https://openrouter.ai/api/v1"
OPENAI_API_KEY = "api-key-for-your-service"
OPENAI_MODEL = "nousresearch/hermes-3-llama-3.1-405b"
PROMPTS_PATH = "prompt/"
